---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plan Your Next Date - 404" description="P치gina no encontrada">
    <div class="flex flex-col items-center justify-center h-screen text-center">
        <h1 class="text-4xl font-bold text-red-600">404 - P치gina No Encontrada</h1>
        <p class="mt-4 text-lg">Lo sentimos, la p치gina que est치s buscando no existe.</p>
        <a href="/" class="mt-6 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Volver al Inicio</a>
    </div>
</Layout>
