---
import Layout from "../layouts/Layout.astro";
import RandomizeBtn from "../components/RandomizeBtn.astro";
---

<Layout title="Plan your next date">
  <div class="flex flex-col justify-center items-center">
    
		<div class="mt-10">
			<h1 class="text-4xl font-bold text-center text-gray-900 m-2">
				¡Plan your next date!
			</h1>
			<p class="text-lg text-center text-gray-700 m-2">
				Un generador de panoramas aleatorios
			</p>
		</div>


		<RandomizeBtn class="container" />
	</div>
</Layout>
