---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Plan your next date"
  description="En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile. Encuentra ideas para citas, escapadas, y experiencias únicas en la ciudad."
  canonical="https://planyournextdate.xyz"
>
  <section class="w-full max-w-fit h-full mx-8 p-5 bg-[#f5ebd9] rounded-lg my-8">
    <h2 class="mb-1 text-lg font-bold text-gray-700">Filtros</h2>
    <p class="mb-7 text-sm text-gray-500">
      Selecciona de panorama:
    </p>
    <!--items en el centro -->
    <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3">
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="naturaleza-option"
          value="naturaleza"
          class="hidden peer"
        />
       <div class="relative">
        <div id="circle-naturaleza" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
       </div>
        <label
          for="naturaleza-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/nature.png"
              class="w-[32px] h-[32px]"
              alt="Opción naturaleza"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-67px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Naturaleza</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="cultura-option"
          value="cultura"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-cultura" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="cultura-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/sculpture.png"
              class="w-[32px] h-[32px]"
              alt="Opción cultura"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-49px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Cultura</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="aventura-option"
          value="aventura"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-aventura" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="aventura-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/running.webp"
              class="w-[32px] h-[32px]"
              alt="Opción aventura"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-58px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Aventura</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="nocturnas-option"
          value="nocturnas"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-nocturnas" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="nocturnas-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/night-mode.webp"
              class="w-[32px] h-[32px]"
              alt="Opción nocturnas"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-66px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Nocturnas</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="caseras-option"
          value="caseras"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-caseras" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="caseras-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/home.webp"
              class="w-[32px] h-[32px]"
              alt="Opción caseras"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-52px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Caseras</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[260px] mb-8">
        <input
          type="checkbox"
          id="desconectar-option"
          value="desconectar"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-desconectar" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="desconectar-option"
          class="inline-flex items-center justify-between lg:w-[260px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/psychology.webp"
              class="w-[32px] h-[32px]"
              alt="Opción desconectar"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-76px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Desconectar</p>
            </div>
          </div>
        </label>
      </li>
    </ul>
    <div class="w-full flex justify-center mt-8">
      <button
        id="randomize-btn"
        class="w-[260px] text-white bg-[#eb1c63] hover:bg-[#ac1444] focus:outline-none font-bold rounded-lg text-md py-4 text-center"
      >
        Generar panorama
      </button>
    </div>
  </section>

  <section id="card-container" class="mx-auto w-4/5"></section>
</Layout>

<script>
  import { data } from "../data/data.js";

  const randomizeBtn = document.getElementById("randomize-btn");
  //Si el checkbox seleccionado, se muestra un circulo verde
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e) => {
      const circle = document.getElementById(`circle-${e.target.value}`);
      if (e.target.checked) {
        circle.classList.remove("hidden");
      } else {
        circle.classList.add("hidden");
      }
    });
  });


  const filterData = (data) => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    const checkedCheckboxes = Array.from(checkboxes).filter(
      (checkbox) => checkbox.checked
    );
    const checkedValues = checkedCheckboxes.map((checkbox) => checkbox.value);

    if (checkedValues.length === 0) return data;

    return data.filter((item) => checkedValues.includes(item.category));
  };

  randomizeBtn.addEventListener("click", () => {
    const filteredData = filterData(data);
    const randomItem =
      filteredData[Math.floor(Math.random() * filteredData.length)];
    const card = document.querySelector("#card-container");

    card.innerHTML = `
	<div
      class="relative mb-8 md:ml-0 md:mr-8 md:mt-8 rounded-lg border border-gray-200 shadow bg-white"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96"
        src=${randomItem.image}
      />
      <p
        class="absolute right-[20px] top-[20px] text-white text-center px-5 py-1 rounded-lg bg-[#cf1c58]"
      >
        ${randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1)}
      </p>
      <div class="p-5">
        <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">
          ${randomItem.name}
        </p>

        <p class="mb-3 font-normal text-gray-700">
          ${randomItem.description}
        </p>
      </div>
    </div>
	`;
    randomizeBtn.textContent = "Generar otro panorama";
  });
</script>
