---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Plan your next date"
  description="En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile. Encuentra ideas para citas, escapadas, y experiencias únicas en la ciudad."
  canonical="https://planyournextdate.xyz"
>
  <section class="mx-auto p-5 w-4/5 bg-[#f5ebd9] rounded-lg my-8">
    <h3 class="mb-5 text-md font-bold text-gray-700">
      Selecciona uno o varios tipos:
    </h3>
    <ul class="grid w-full gap-6 md:grid-cols-3">
      <li>
        <input
          type="checkbox"
          id="desconectar-option"
          value="desconectar"
          class="hidden peer"
        />
        <label
          for="desconectar-option"
          class="inline-flex items-center justify-between w-full p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-lg cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/psychology.webp"
              class="w-[32px] h-[32px]"
              alt="Opción desconectar"
            />
            <p class="ml-4 text-lg text-center font-semibold">Desconectar</p>
          </div>
        </label>
      </li>
      <li>
        <input
          type="checkbox"
          id="caseras-option"
          value="caseras"
          class="hidden peer"
        />
        <label
          for="caseras-option"
          class="inline-flex items-center justify-between w-full p-5 text-gray-600 bg-white border-2 border-gray-700 rounded-lg cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/home.webp"
              class="w-[32px] h-[32px]"
              alt="Opción caseras"
            />
            <p class="ml-4 text-lg font-semibold">Caseras</p>
          </div>
        </label>
      </li>
      <li>
        <input
          type="checkbox"
          id="competitivas-option"
          value="competitivas"
          class="hidden peer"
        />
        <label
          for="competitivas-option"
          class="inline-flex items-center justify-between w-full p-5 text-gray-600 bg-white border-2 border-gray-700 rounded-lg cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/running.webp"
              class="w-[32px] h-[32px]"
              alt="Opción competitivas"
            />
            <p class="ml-4 text-lg font-semibold">Competitivas</p>
          </div>
        </label>
      </li>
      <li>
        <input
          type="checkbox"
          id="nocturnas-option"
          value="nocturnas"
          class="hidden peer"
        />
        <label
          for="nocturnas-option"
          class="inline-flex items-center justify-between w-full p-5 text-gray-600 bg-white border-2 border-gray-700 rounded-lg cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/night-mode.webp"
              class="w-[32px] h-[32px]"
              alt="Opción nocturnas"
            />
            <p class="ml-4 text-lg font-semibold">Nocturnas</p>
          </div>
        </label>
      </li>
    </ul>

    <div class="w-full flex justify-center mt-8">
      <button
        id="randomize-btn"
        class="text-white bg-[#eb1c63] hover:bg-[#ac1444] focus:outline-none font-bold rounded-lg text-md p-10 py-4 text-center"
      >
        Generar panorama aleatorio ✨
      </button>
    </div>
  </section>

  <section id="card-container" class="mx-auto w-4/5"></section>
</Layout>

<script>
  import { data } from "../data/data.js";

  const randomizeBtn = document.getElementById("randomize-btn");

  const filterData = (data) => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    const checkedCheckboxes = Array.from(checkboxes).filter(
      (checkbox) => checkbox.checked
    );
    const checkedValues = checkedCheckboxes.map((checkbox) => checkbox.value);

    if (checkedValues.length === 0) return data;

    return data.filter((item) => checkedValues.includes(item.category));
  };

  randomizeBtn.addEventListener("click", () => {
    const filteredData = filterData(data);
    const randomItem =
      filteredData[Math.floor(Math.random() * filteredData.length)];
    const card = document.querySelector("#card-container");

    card.innerHTML = `
	<div
      class="relative mb-8 rounded-lg border border-gray-200 shadow bg-white"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96"
        src=${randomItem.image}
      />
      <p
        class="absolute right-[20px] top-[20px] text-white text-center px-5 py-1 rounded-lg bg-[#cf1c58]"
      >
        ${randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1)}
      </p>
      <div class="p-5">
        <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          ${randomItem.name}
        </p>

        <p class="mb-3 font-normal text-gray-700">
          ${randomItem.description}
        </p>
      </div>
    </div>
	`;
  randomizeBtn.textContent = "Generar otro panorama aleatorio ✨";
  });
</script>
