---

---

<section class=" md:max-w-[1024px] w-[95%] h-full overflow-x-scroll scrollbar-hide bg-[#f5ebd9] rounded-lg m-4 p-2">
  <div id="container" class="flex flex-col lg:flex-row lg:justify-center">
    <ul class="flex gap-4">



      <li class="flex flex-col items-center min-w-[105px] max-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-naturaleza"
          value="naturaleza"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-naturaleza"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-naturaleza"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/naturaleza.svg`
              alt="Icono de categoria naturaleza"
              loading="lazy"
              width="24"
              height="24"
            />
        </label>
        <div class="relative w-full">
            <p class="absolute top-10 left-[-46px] text-xs font-semibold">
              Naturaleza
            </p>
          </div>
      </div>
      </li>





      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-cultura"
          value="cultura"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-cultura"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-cultura"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/cultura.svg`
              alt="Icono de categoria cultura"
              loading="lazy"
              width="24"
              height="24"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-35px] text-xs font-semibold">
                Cultura
              </p>
            </div>
          </div>
        </label>
      </li>


      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-aventura"
          value="aventura"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-aventura"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-aventura"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/aventura.svg`
              alt="Icono de categoria aventura"
              loading="lazy"
              width="24"
              height="24"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-42px] text-xs font-semibold">
                Aventura
              </p>
            </div>
          </div>
        </label>
      </li>



      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-nocturna"
          value="nocturna"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-nocturna"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-nocturna"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/nocturna.svg`
              alt="Icono de categoria nocturna"
              loading="lazy"
              width="24"
              height="24"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-46px] text-xs font-semibold">
                Nocturnas
              </p>
            </div>
          </div>
        </label>
      </li>



      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-casera"
          value="casera"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-casera"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-casera"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/casera.svg`
              alt="Icono de categoria casera"
              loading="lazy"
              width="24"
              height="24"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-38px] text-xs font-semibold">
                Caseras
              </p>
            </div>
          </div>
        </label>
      </li>


      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-3">
        <input
          type="checkbox"
          id="categoria-desconectar"
          value="desconectar"
          class="hidden peer"
        />
        <div class="relative">
          <div
            id="contorno-categoria-desconectar"
            class="absolute left-5 lg:top-4 w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
          >
            ✓
          </div>
        </div>
        <label
          for="categoria-desconectar"
          class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src=`img/desconectar.svg`
              alt="Icono de categoria desconectar"
              loading="lazy"
              width="24"
              height="24"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-52px] text-xs font-semibold">
                Desconectar
              </p>
            </div>
          </div>
        </label>
      </li>
    </ul>
</section>

<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", (e:any) => {
            const circle = document.getElementById(
            `contorno-categoria-${e.target?.value}`
            );
            if (e.target?.checked) {
            circle?.classList.remove("hidden");
            } else {
            circle?.classList.add("hidden");
            }
        });
    });
</script>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>