---

---

<footer class="bg-blueGray fixed w-full bottom-0">
  <div class=" max-w-screen-xl mx-auto p-4 md:py-8">
    <span class="block text-sm text-gray-500 text-center dark:text-gray-400"
      >© 2025 <a href="https://planyournextdate.xyz/" class="hover:underline"
        >Plan your next date</a
      >. All Rights Reserved.</span
    >
  </div>
</footer>
