---

---

<footer class="mt-auto">
  <div class="flex flex-col sm:flex-row justify-center p-4 md:py-8 bg-[#333333] gap-1">
    <span class="block text-sm text-center text-white">
      © 2025 
      <a href="https://planyournextdate.xyz/" class="hover:underlin">
        Plan your next date
      </a>
      .
    </span>

    <span class="block text-sm text-center text-white">
      All Rights Reserved
    </span>
  </div>
</footer>
