---
import Footer from "../components/Footer.astro";
import '@fontsource-variable/montserrat';
interface Props {
  title: string;
  description: string;
  canonical?: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html class="bg-cream" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="actividades para parejas en Santiago, planes románticos en Chile, ideas para citas en Santiago, escapadas románticas Chile, experiencias únicas Santiago, actividades para amigos en Santiago, diversión con amigos Chile" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/logo.ico" />
  </head>
  <body class="flex flex-col min-h-screen w-full m-0 p-0">
    <section class="flex flex-row py-8 md:pl-16 pl-14 bg-[#eb1c63]">
      <img
        src="/favicon.webp"
        class="w-[120px] h-[86px]"
        alt="Plan Your Next Date"
      />
      <div class="relative">
        <h1 class="absolute w-44 text-xl font-bold text-white left-[-16px] top-5">
          PLAN YOURN <br> NEXT DATE
        </h1>
      </div>
    </section>
    <main class="my-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: 'Montserrat Variable', system-ui, sans-serif;
  }
</style>
